<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Pratice Pharmasan</title>

    <!-- Estilos -->
    <link rel='stylesheet' href='resources/css/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <header>
        <%- include('partials/header'); %>
    </header>
</head>
<body>
    <div class="titulo-h1">
        <span>User list of Pharmasan</span>
        <a href="/create/users" class="button">Add user</a>
    </div>
    <div class="tabla-css">
        <table id="users">
            <thead>
                <th>ID</th>
                <th>USERNAME</th>
                <th>NAME</th>
                <th>ROLE</th>
                <th>PASSWORD</th>
                <th>ACTIONS</th>
            </thead>
            <tbody>
                <% results.forEach((user) => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.user %></td>
                        <td><%= user.name %></td>
                        <td><%= user.role %></td>
                        <td><%= user.pass %></td>
                        <td>
                            <a href="/edit/<%= user.id %>" class="action"><i class="fas fa-edit"></i></a>
                            <a href="/delete/<%= user.id %>" class="action"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#users').DataTable();
        });
    </script>
</body>
</html>